# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

***Some of the popular languages that Data Scientists use are:***
1. Python
2. R Language
3. SQL
4. Scala

**Objectives:**
- List popular languages for Data Science
- List of Libraries for Data Science
- List of Languages for Data Science
- List of Open Source, Commericial and Cloud Tools for Data Science
- Understanding of GIT, Juypter Notebook and Basic R Language

***Some of the commonly used libraries used by Data Scientists include:***
1. Pandas
2. NumPy
3. Tenserflow
4. Scikit

| Data Science Tools |
|----------------------|
| Pixie Dust |
| MYSQL |
| Apache AirFlow |
| ModelDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Ayuri Limje